USER=nypkenny
PASSWORD=abc123$%^
CONSUMER_KEY=Vp0UrPOKfUDonEn4B5RCpg
CONSUMER_SECRET=3wdvhsj1ph2PiNi1E47XullWsaEEZpepMPh4bgOCMY
ACCESS_TOKEN_KEY=634391884-qFKI6JYrZV6JFQYHIFhConcn7S1Se86SP0YHHWDt
ACCESS_TOKEN_SECRET=zcUKICiN4GWYrS7cyOBHyiJCHqeyjMGn3J7GfwVWrZ8
