<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script type="text/javascript"  src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

<script type="text/javascript">
$(function() {
        $.noConflict(); // unresolve the conflict between this jquery-1.8.2 with the jquery-1.4 from the gmapi
        $("#date_from").attr("readOnly",true);
        $("#date_to").attr("readOnly",true);
        $("#date_from").datepicker({
            dateFormat: 'dd-M-yy',
            defaultDate: "-1m",
            changeMonth: true,
            numberOfMonths: 2,
            onClose: function( selectedDate ) {
                $("#date_to").datepicker( "option", "minDate", selectedDate );
            }
        });
        $("#date_to").datepicker({
            dateFormat: 'dd-M-yy',
            defaultDate: "-1m",
            changeMonth: true,
            numberOfMonths: 2,
            onClose: function( selectedDate ) {
                $("#date_from").datepicker( "option", "maxDate", selectedDate );
            }
        });
    });
</script>

<div id="filter_container" class="filter_container">
  <form action="." method="get">
  <div class="filter">    
  <label for="age_band">Age Band:</label>
  <select id="age_band" name="age_band">
    <option value = "all">All</option>    
    <option value = "18-24">18-24</option>
    <option value = "25-34">25-34</option>
    <option value = "35-44">35-44</option>
    <option value = "45-54">45-54</option>
    <option value = "55-59">55-59</option>
    <option value = "60-100">60-100</option>    
  </select>
  </div>
  <div class="filter">
  <label for="gender">Gender:</label>
  <select id="gender" name="gender">
    <option value = "all">All</option>
    <option value = "female">Female</option>
    <option value = "male">Male</option>
  </select>
  </div>  
  <div class="filter">
  <label for="race">Race:</label>
  <select id="race" name="race">
    <option value = "all">All</option>
    <option value = "chinese">Chinese</option>
    <option value = "indian">Indian</option>
    <option value = "malay">Malay</option>
    <option value = "others">Others</option>            
  </select>
  </div>
  <div class="filter">    
  <label for="mood">Mood:</label>
  <select id="mood" name="mood">
    <option value = "all">All</option>    
    <option value = "joy">Joy</option>
    <option value = "surprised">Surprised</option>
    <option value = "disgusted">Disgusted</option>
    <option value = "sadness">Sadness</option>
    <option value = "anger">Anger</option>
  </select>
  </div>
  <div class="filter">
    <label for="from">Date:</label>
    <input type="text" id="date_from" name="date_from" class="date_text"/>
    <label for="to"> - </label>
    <input type="text" id="date_to" name="date_to" class="date_text"/>
  </div>
  <div class="filter">
    <input type="submit" value="Submit"/>
  </div>
  </form>
</div>

<script type="text/javascript">


var filter = (function () {
    return {
    	age_band : $("#age_band").val(),
	gender   : $("#gender").val(),
	race     : $("#race").val(),
	mood	 : $("#mood").val(),
	update   : null, // the callbacks
	init     : function () {
	   $("#age_band").val('{{age_band}}');
	   $("#gender").val('{{gender}}');
	   $("#race").val('{{race}}');
	   $("#mood").val('{{mood}}');
           $("#date_from").val('{{date_from}}');
           $("#date_to").val('{{date_to}}');
           var self = this;
           $("#age_band").change(function () {
	        self.age_band = $("#age_band").val();
	   });
           $("#gender").change(function () {
	        self.gender = $("#gender").val();
	   });
           $("#race").change(function () {
	        self.race = $("#race").val();
	   });
           $("#mood").change(function () {
	        self.mood = $("#mood").val();
	   });
	}
    }
})();
filter.init();
</script>