<div id="filter_container">
  <form action="." method="get">
  <div class="filter">    
  <label for="age_band">Age Band:</label>
  <select id="age_band" name="age_band">
    <option value = "all">All</option>    
    <option value = "18-24">18-24</option>
    <option value = "25-34">25-34</option>
    <option value = "35-44">35-44</option>
    <option value = "45-54">45-54</option>
    <option value = "55-59">55-59</option>
    <option value = "60-100">60-100</option>    
  </select>
  </div>
  <div class="filter">
  <label for="gender">Gender:</label>
  <select id="gender" name="gender">
    <option value = "all">All</option>
    <option value = "female">Female</option>
    <option value = "male">Male</option>
  </select>
  </div>  
  <div class="filter">
  <label for="race">Race:</label>
  <select id="race" name="race">
    <option value = "all">All</option>
    <option value = "chinese">Chinese</option>
    <option value = "indian">Indian</option>
    <option value = "malay">Malay</option>
    <option value = "others">Others</option>            
  </select>
  </div>
  <div class="filter">    
  <label for="mood">Mood:</label>
  <select id="mood" name="mood">
    <option value = "all">All</option>    
    <option value = "joy">Joy</option>
    <option value = "surprised">Surprised</option>
    <option value = "disgusted">Disgusted</option>
    <option value = "sadness">Sadness</option>
    <option value = "anger">Anger</option>
  </select>
  </div>  
  <div class="filter">
    <input type="submit" value="Submit"/>
  </div>
  </form>
</div>

<script type="text/javascript">
var filter = (function () {
    return {
    	age_band : $("#age_band").val(),
	gender   : $("#gender").val(),
	race     : $("#race").val(),
	mood	 : $("#mood").val(),
	update   : null, // the callbacks
	init     : function () {
	   $("#age_band").val('{{age_band}}');
	   $("#gender").val('{{gender}}');
	   $("#race").val('{{race}}');
	   $("#mood").val('{{mood}}');
           var self = this;
           $("#age_band").change(function () {
	        self.age_band = $("#age_band").val();
	   });
           $("#gender").change(function () {
	        self.gender = $("#gender").val();
	   });
           $("#race").change(function () {
	        self.race = $("#race").val();
	   });
           $("#mood").change(function () {
	        self.mood = $("#mood").val();
	   });
	}
    }
})();
filter.init();
</script>