<div id="tweet_widget" class="widget">
  <div id="tweet_container"></div>
</div>

<script type="text/javascript">
var tweet_widget = (function () {
    return {
	update   : function () {
	   $.getJSON("/tweet/", { age_band : "{{age_band}}", gender :"{{gender}}", race : "{{race}}" },
	      function(data) {
	         var body_html = '<table>';
		 $.each(data, function(i, tweet) {
		       body_html +=
		          '<tr><td class="fl">' + tweet + '</td></tr>';
		 })
	 	 body_html += '</table>';
	         $("#tweet_container").html(body_html);
	      }
	   );
	}, // the callbacks
	init     : function () {
	}
    }
})();
tweet_widget.init();
tweet_widget.update();
</script>
