body {
    text-align:left;
}
.filter_container { 
    padding-left:250px;
    /* border:1px solid black; */
}

.logo-container {
    width:1220px;
}

.fr { 
    float:right;
}

.filter { 
    float:left;
    margin:10px 10px 10px 10px;
}

.widget { 
    border:1px solid black;
    padding:10px 10px 10px 10px;
    /* padding:0px 0px 0px 0px;  */
    width:600px;
    height:450px;
}

table { 
    margin:0px 0px 0px 0px;
}

td { border:2px solid white; }

td {
    font-size:14px;
    padding-top:2px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:2px;
}

.tweet {
   width:450px;
}

.odd {
}

.even {
    background-color:#E1E1E1;
}

.paginator {
    float:right;
}

.date_text {
    width:90px;
}

.bd {
    width:1220px;
}